@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Trade+Winds&display=swap');

:root{
    --verdeSpoti:#1DB954;
    --negroSpoti:#000000;
    --blancoSpoti:#ffffff;
    --grisSpoti:rgb(155, 155, 155);
    --fuenteSpoti: "Circular Std Book", system, -apple-system, BlinkMacSystemFont, sans-serif;
    --fuente2: "Montserrat";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #181818;
}
.sidebar{
    position: fixed;
    width: 5.5em;
    height: 100vh;
    background-color:var(--negroSpoti);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    >a{ 
        text-decoration: none;
        >img{
            width: 40px;
        }
    }
    
    >nav{
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        >ul{
            width: 100%;
            display: flex;
            flex-direction: column;
            >li{
                border-left: 4px solid transparent;
                list-style: none;
                cursor:pointer;
                transition: color .3s,border-left .3s,background-color .3s ease-in-out;
                .item-menu{
                    width: 100%;
                    height: 4em;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color:#939396;
                    gap: 5px;
                    >h2{
                        font-family: 'Trade Winds';
                    }
                    >i{
                        font-size: 18px;
                    }
                    >span{
                        font-family:var(--fuenteSpoti);
                        font-size: 9.3px;
                    }
                }
            }
            >li:hover{
                color: var(--blancoSpoti);
                border-left: 4px solid var(--verdeSpoti);
                background-color: #181818;
                box-shadow: 1px 2px 2px rgb(14, 14, 14);
            }
            >li.active{
                color: var(--blancoSpoti);
                border-left: 4px solid var(--verdeSpoti);
                background-color: #181818;
                box-shadow: 1px 2px 2px rgb(14, 14, 14);
            }
        }
        >i{
            cursor:pointer;
            font-size: 30px;
            color: var(--grisSpoti);
            transition:color .3s ease;
        }
        >i:hover{
            color:var(--blancoSpoti);
        }
    }
}
.menu{
    position: relative;
    width: calc(100% - 6em);
    height: 100%;
    margin-left: 6em;
    background-color: #181818;
    display: none;
    .menu-data-profile{
        width: 100%;
        height: 80vh;
        display: grid;
        place-items: center;
        .data-profile{
            width: 250px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;
            #foto-perfil{
                display: none;
                width: 70%;
                border-radius: 100%;
                image-rendering:pixelated;
            }
            #nombre{
                text-align: center;
                font-family: var(--fuente2);
                font-size: 30px;
                color: var(--blancoSpoti);
            }
            .data-stats{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                #data-stats-elem{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5em;
                    .stat-number{
                        font-family: var(--fuente2);
                        font-weight: 700;
                        font-size: 16px;
                        color: var(--verdeSpoti);
                    }
                    #stat-name{
                        font-family:var(--fuenteSpoti);
                        font-size: 11px;
                        color: var(--grisSpoti);
                    }
                }
            }
            >a{
                cursor: pointer;
                font-family: var(--fuenteSpoti);
                font-size:12px;
                margin-top: 2em;
                text-decoration: none;
                background-color: transparent;
                border-radius: 2em;
                border: 1.5px solid var(--blancoSpoti);
                padding: .8em 2em;
                color: var(--blancoSpoti);
                transition: background-color .2s,color .2s ease;
            }
            >a:hover{
                background-color: var(--blancoSpoti);
                color: #181818;
            }
        }
    }
    .menu-data-music{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        padding: 2em;
        .data-music{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: "topart topart mostply mostply";
            .column-data{
                width: 100%;
                height: 100%;//120vh
                padding: 1.5em;
                display: flex;
                flex-direction: column;
                gap: 3em;
                .title-see{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    >h2{
                        font-family: var(--fuenteSpoti);
                        font-size: 18px;
                        color: var(--blancoSpoti);
                    }
                    >a{
                        font-family: var(--fuenteSpoti);
                        font-size:11px;
                        text-decoration: none;
                        background-color: transparent;
                        border-radius: 2em;
                        border: 1.5px solid var(--blancoSpoti);
                        padding: 1em 2em;
                        color: var(--blancoSpoti);
                        transition: background-color .2s,color .2s ease;
                    }
                    >a:hover{
                        background-color: var(--blancoSpoti);
                        color: #181818;
                    }
                }
                .music-top{
                    display: flex;
                    flex-direction: column;
                    gap: 1.5em;
                    #top-cancion{
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        gap: 1em;
                        >img{
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            border-radius: 100%;
                        }
                        >a{
                            text-decoration: none;
                            font-family: var(--fuenteSpoti);
                            font-weight: 500;
                            -webkit-font-smoothing: antialiased;
                            font-size: 14px;
                            color: whitesmoke;
                            border-bottom: 1px solid transparent;
                        }
                        >a:hover{
                            border-bottom: 1px solid var(--blancoSpoti);
                        }
                    }
                }
                .music-played{
                    display: flex;
                    flex-direction: column;
                    gap: 1.5em;
                    #top-played{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: 1em;
                        #track-img-name{
                            display: flex;
                            justify-content: center;
                            gap: 1em;
                            >img{
                                width: 40px;
                                height: 40px;
                                object-fit: cover;
                            }
                            #track-artist{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                >p{
                                    font-family: var(--fuenteSpoti);
                                    font-size: 14px;
                                    color: whitesmoke;
                                }
                                >span{
                                    text-wrap: wrap;
                                    text-overflow: ellipsis;
                                    font-family: var(--fuenteSpoti);
                                    font-size: 12px;
                                    color: var(--grisSpoti);
                                }
                            }
                        }
                        >span{
                            font-family: var(--fuente2);
                            font-size: 12px;
                            color: var(--grisSpoti);
                        }
                    }
                    
                }
            }
            #topart{
                grid-area: topart;
            }
            #mostply{
                grid-area: mostply;
            }
        }
    }
}
.container-load{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #181818;
    display: grid;
    place-content: center;
    z-index: 20000;
    .custom-loader {
        width:45px;
        height:60px;
        --c:linear-gradient(var(--grisSpoti) 0 0);
        background: 
          var(--c) 0%   100%,
          var(--c) 50%  100%,
          var(--c) 100% 100%;
        background-size:9px 65%;
        background-repeat: no-repeat;
        animation:b5 1s infinite linear;
      }
      @keyframes b5 {
          20% {background-position:0% 50% ,50% 100%,100% 100%}
          40% {background-position:0% 0%  ,50% 50% ,100% 100%}
          60% {background-position:0% 100%,50% 0%  ,100% 50% }
          80% {background-position:0% 100%,50% 100%,100% 0%  }
      }
}
@media screen and (max-width:767px) {
    .sidebar{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 4em;
        background-color:rgb(14, 14, 14);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 10000;
        >a{ 
            display: none;
            text-decoration: none;
            margin: 1em;
            >img{
                width: 40px;
            }
        }
        >nav{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            >ul{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                >li{
                    width: 25vmax;
                    height: 100%;
                    border-top: 4px solid transparent;
                    border-left: none;
                    list-style: none;
                    cursor:pointer;
                    color:#939396;
                    transition: color .3s,border-left .3s,background-color .3s ease-in-out;
                    .item-menu{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        >i{
                            font-size: 1em;
                        }
                        >span{
                            font-family:var(--fuenteSpoti);
                            font-size: .6em;
                        }
                    }
                }
                >li:hover{
                    color: var(--blancoSpoti);
                    border-top: 4px solid var(--verdeSpoti);
                    border-left: none;
                    background-color: #181818;
                    box-shadow: 1px 2px 2px rgb(14, 14, 14);
                }
                >li.active{
                    color: var(--blancoSpoti);
                    border-top: 4px solid var(--verdeSpoti);
                    border-left: none;
                    background-color: #181818;
                    box-shadow: 1px 2px 2px rgb(14, 14, 14);
                }
            }
            >i{
                display: none;
                margin: 1em;
                cursor:pointer;
                font-size: 30px;
                color: var(--grisSpoti);
                transition:color .3s ease;
            }
            >i:hover{
                color:var(--blancoSpoti);
            }
        }
    }
    .menu{
        width: 100%;
        margin-left: 0;
        .menu-data-music{
            .data-music{
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "topart topart"
                                     "mostply mostply";

                .column-data{
                    padding: 0;
                    margin-bottom: 3em;
                }                     
                #topart{
                    grid-area: topart;
                }
                #mostply{
                    grid-area: mostply;
                }
            }
        }
    }
}
